
@media (max-width: 1150px) {
  
  .head-middle-content {
    margin: 0 50px; 
  }

 
}
.button:hover {
    background-color: #1abc9c;
    
  }
 .subscribe-button:hover {
    background-color: #1abc9c; 
  } 

@media (max-width: 1024px) {
  .nav-list {
    display:none; 
}
  
.community-container {
    padding: 50px 50px 80px 50px; 
  }

  

  .image-box-first {
    margin-bottom: 20px;
     
  }

 .image-box {
    width: 100%; 
  }

}
 

@media (max-width: 991px) {
  .navigation-link {
    display: none;
  }
  .photoapp-container {
    width: 100%;
    background-image:none; 
  }
 
.photoapp {
  width:100%;
  float: left;
  margin-left:38px;
  padding-left:138px;
  padding-top:31px;
  padding-bottom:31px; 
  margin-top:31px;
  margin-right:18px;
 }

 .design-wrapper {
   margin-left:40px;
   padding-left:138px;
 }

.design-container {
  width:100%;
}
.carousel-container {
  display:none;
}
#design-left-design {
  display:none;
}

#design-right-design {
  display:none;
}
.design-content{
  margin-top:51px;
  margin-right: 0px; 
  width: 100%;
}
.community-content-wrapper {
  margin-left: 40px;
}
.community-carousel {
  width:100%;
}
.community-left-wrapper{
  margin-top:51px; 
  padding-top:0px; 
  margin-left:272px;
  

}
.community-carousel-left{
  max-width:330px;
  margin-bottom: 0px;
}



.community-arrow {
  margin-top:20px;
}
.community-carousel-container {
  padding-top:80px;
  width:130%;
}
.community-carousel-right {
  max-width:330px;
  margin-left:0px;
  margin-right:60px;
}



.subscribe {
    width:100%;
    margin-top:31px;
  }
  .subscribe-heading {
    font-size: 16px;
    color: #ffffff;
    font-family: "Gotham--bold";
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align:center;
    padding-top: 250px;
    padding-left: 304px;
    padding-right: 304px;
   }
   .download-paragraph {
     width:100%;
   }
  .first-button {
    margin-right: 50px;
    margin-left: 40px;
    margin-bottom: 30px; 
  }

  .second-button {
    margin-right: 50px;
    margin-left: 40px; 
  }

  .footer-logo {
    position: static;
    margin-bottom: 30px; 
  }

  .footer-container {
    padding: 50px; 
  } 
  }

@media (max-width: 767px) {
  .unordered-navigation {

    display: none;
  }
  .button:focus {
    outline: 1px solid transparent;
    background-color: #1abc9c;
     }
     .social-link:hover, .social-link:focus {
      color: #16a085; 
    }
    .social-link .fa {
      transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s; 
    }
    .button:hover {
      background-color: #1abc9c;
      
    }
  .subscribe-button:hover {
      background-color: #1abc9c; 
    } 
 
   
  .photoapp {
    width:100%;
    float: left;
    padding-left:10px;
    margin-top:51px;
  }
  .design-wrapper {
  margin-left:-100px;  
  }
 
 .design-container {
   width:100%;
 }
 .carousel-container {
   display:none;
 }
 #design-left-design {
   display:none;
 }
 
 #design-right-design {
   display:none;
 }
 .design-content{
   margin-top:51px;
   width: 100%;
   margin-right:0px;
 }
  .community-carousel {
    width:100%;
  }
  .community-left-wrapper{
    margin-top:51px; 
    margin-left:0px;
    padding-top:0px; 
    

  }
  .community-right-wrapper {
    margin-right:40px;
  }
  .community-arrow {
    margin-top:20px;
  }
  .community-carousel-container {
    padding-top:80px;
    width: 100%;
  }
  .community-carousel-right {
    max-width: 370px;
    
  }
  .community-carousel-left {
    margin-bottom: 10px;
    max-width: 370px;
    
  }
  
.subscribe {
  width:100%;
  margin-top:51px;
    
}
.subscribe-heading {
  font-size: 14px;
  color: #ffffff;
  font-family: "Gotham--bold";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align:center;
  padding-top: 250px;
  padding-left: 144px;
  padding-right: 144px;
 }

   
.subscribe-input::placeholder {
      font-size: 14px;
      letter-spacing: 1px; 
    } 
 .download {
      width: 100%;
      background-color: #f5f6f7;
      margin-bottom: 51px;
      
  }
  
.download-container {
  text-align: center;
 text-align:center; 
 background: #ffffff;
 margin-top:51px;
 margin-bottom:-220px;
}
.download-content {
  margin-left:180px;
 }
.download-heading {
  font-size: 16px;
  letter-spacing: 1.5px;
  font-family: "Gotham--bold";
  text-transform: uppercase;
  color: #373737; 
}
.download-paragraph {
  display: none;
}
.download-buttons {
  margin-top: 46px; 
  margin-left:-130px
}

.first-button {
  margin-right: 266px;

}

.second-button {
  margin-right: 266px; 
}

.button-left {
  background-color: #1abc9c;
  color:#ffffff;
  text-transform: uppercase;
  width: 242px;
  height: 56px;
  text-align: left;
  padding-left: 24px;
  font-size: 16px;
  font-family: "Gotham--bold";
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  cursor: pointer; 
}
  .button-left::after {
    content: "";
    width: 242px;
    height: 56px;
    position: absolute;
    right: -242px;
    top: 0;
    background-color: #16a085;
    z-index: -1;
    transition: 0.4s ease-in-out; 
  }

  .button-left:hover::after {
    right: 0; 
  }

.button-right {
  background-color: #16a085;
  color:#ffffff;
  width: 56px;
  height: 56px; }
  .button-right i {
    font-size: 28px; 
  }
  .footer-logo {
    position: static;
    margin-bottom: 30px; 
  }

  .footer-container {
    margin-top:51px; 
  } 

}
