
ul {
  list-style: none;
 }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
a {
  text-decoration: none;
 }

.container {
  max-width: 1280px;
  padding: 0; 
 
}
.whole-container {
  width:100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Gotham--bold';
  src: url("../font_face/gotham-rounded/GothamRoundedBold.ttf"); 
}
@font-face {
  font-family: 'Gotham--book';
  src: url("../font_face/gotham-rounded-book/GothamRoundedBook_21018.ttf"); 
}
@font-face {
  font-family: 'Gotham--medium';
  src: url("../font_face/gotham-rounded-medium/GothamRounded-Medium.otf"); 
}


/* Header */
.header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/background_header.gif);
  background-size: cover;
  background-position: center bottom; }

/* --> Navigation */
.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
  font-family: "Gotham--bold";
  font-size: 16px;
  letter-spacing: 3px;
  transition: color 0.5s; 
  color: #ffffff;
}
  .navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover {
    
    color: #16a085; 
  }
ul.navbar-navig {
  display: inline-block;
}
 .navigation {
   margin-left:272px;
   margin-right:249px;
 }
 .navigation-container {
   max-width:1280px;
   
 }


.nav-link {
  margin-top: 73px; 
 
}


.nav-link-photo {
  margin-left:67px; 

}



.nav-link-logo {
  margin-top: 40px;
  margin-left: 102px;
  margin-right: 98px;
 }


.nav-link-design {
  margin-right: 80px; 
}

/* --> Head-middle*/

.head-middle-content {
  text-align: center; 
  margin-top:248px;
  margin-left:391px;
  margin-right: 390px;
  
}

.head-middle-heading {
  margin-bottom:20px; 
  font-family: "Gotham--bold";
  font-size: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff; 
}

.head-middle-paragraph {
  font-family: "Gotham--medium";
  letter-spacing: 2.5px;
  font-size: 16px;
  margin-bottom: 30px; 
  color: #ffffff;
}

.button {
  border: none;
  height: 49px;
  width: 192px;
  padding: 0;
  text-transform: uppercase;
  font-family: "Gotham--bold";
  font-size: 12px;
  letter-spacing: 2px;
  border-radius: 4px;
  background-color: #16a085;
  color: #ffffff;
 }

.button:hover {
  outline: 1px solid transparent;
  background-color: #1abc9c;
 }

.head-button {
  width: 166px;
  margin-top: 30px; 
}

.head-icons {
  height: 62px;
  text-align:center;
  margin-top:222px;
  margin-bottom:25px;
 }

.icons-content {
  font-size: 20px;
  margin: 0 8px;
  transition: color 0.5s;
  color: #ffffff; 
}
.social-link {
  padding-right: 16px;
  color: #ffffff;
}
  .social-link:hover, .social-link:focus {
    color: #16a085; 
  }
  .social-link .fa {
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; 
  }
   

/* Photoapp */
.photoapp {
  margin-top:111px;
  margin-left: 128px;
  width: 100%;
  background-color: #f5f6f7; 
}

.photoapp-container {
  background-image: url(../images/iPhone.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: right -150px;
}

.heading {
  font-family: "Gotham--bold";
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 390px;
  line-height: 22px; 
  color: #16a085;
}

.photoapp-paragraph {
  margin-top: 51px;
  margin-bottom: 49px;
  font-family: "Gotham--book";
  max-width: 450px;
  line-height: 24px;
  color: #373737;
 }


/* Design */
.design-wrapper {
  margin-left : 128px;
}
.carousel-container{
  
  width:25.65%;
  overflow: hidden;
  display: inline-block;


}
.carousel-slide {
  
  
  display: flex;
  
}
.design-content {
  float:right;
  padding-right:81px;
}

.design-paragraph {
 margin-top: 44px;
 margin-bottom:44px; 
 font-family: "Gotham--book";
 max-width: 450px;
 line-height: 24px;
 color: #373737; 
}
.design-button {
  display:block;
  margin-bottom : 46px;
}
.design-counter {
  display:block;
  font-family: "GothamRoundedBold";
  font-size : 12px;
}

.design-container {

margin-top: 144px;
}
#design-left-design{
  padding-right: 10px;
  font-size : 40px;
}
#design-right-design{
  padding-right: 10px;
  font-size : 40px;
}




/* Community */
.community-wrapper {
  width: 100%;
  background-color: #f5f6f7;
}
.community-content-wrapper{
  
  margin-left:128px;
}
.community-left-wrapper {
  float: left;
  padding-top:166px;
}

.green-logo {
  padding-left: 54px;
  padding-right: 48px;
  padding-bottom: 31px;
}

.community-heading {
font-size: 16px;
text-transform: uppercase;
letter-spacing: 2px;
font-family: "Gotham--bold";
color: #373737;
}

.community-paragraph {
font-size: 10px;
font-family: "Gotham--medium";
letter-spacing: 1px;
width: 145px;
margin: 0 auto;
margin-top: 26px;
line-height: 15px;
color: #373737; 
}
.community-right-wrapper{
  float: right;
  margin-right:128px;
}

.community-carousel-container{
  padding-top:116px;
}
.community-arrow {
  margin-top:66px;
  margin-bottom: 5px;
  float: right;
}
#arrow-left-community{
  font-size: 40px;
  margin-right: 10px;
}
#arrow-right-community{
  font-size: 40px;
}
.community-carousel-left{
  float: left;
  max-width: 370px;
  overflow: hidden;

}
.community-carousel-right{
  float: right;
  margin-left: 24px;
  max-width: 370px;
  overflow: hidden;

}

.carousel-container-left{
  display: flex;
}

.community-carousel-right{
  max-width: 370px;
  overflow: hidden;

}

.carousel-container-right{
  display: flex;
}

/* Subscribe */
.subscribe {
  width:100%;
  height: 790px;
  background-image: url("../images/subscribe.jpg");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
   margin-top: 120px;
  
}

.subscribe-heading {
  font-size: 24px;
  color: #ffffff;
  font-family: "Gotham--bold";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align:center;
  padding-top: 350px;
  padding-left: 404px;
  padding-right: 404px;
  
 }

.subscribe-form {
  margin-top: 36px; 
}

.subscribe-input-group {
  max-width: 344px;
  margin: 0 auto; 
  padding-bottom: 326px;
}

.subscribe-input {
  height: 60px;
  padding-left: 22px;
  color: #373737;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Gotham-medium"; 
}
 
  .subscribe-input::placeholder {
    color: #373737;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "Gotham-medium";
    
   }
  .subscribe-input:focus {
    box-shadow: none;
    border: 2px solid #16a085; 
  }

.subscribe-content {

  line-height: 30px;
  text-align: center; 
}

.subscribe-button {
  height: 60px;
  width: 63px;
  background-color: #16a085;
  cursor: pointer; 
}

/* Download */
.download {
  width: 100%;
  min-height: 396px;
  background-color: #f5f6f7;
 }

.download-container {
  text-align: center;
  min-height: 396px;
 text-align:center; 
 background: #ffffff;
 margin-top:90px;
}

.download-heading {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Gotham--bold";
  text-transform: uppercase;
  color: #373737; 
}

.download-content {
 margin-left:220px; 
 margin-right:220px;
}

.download-paragraph {
  font-size: 10px;
  text-align:center;
  text-transform: uppercase;
  font-family: "Gotham--medium";
  color: #373737;
  letter-spacing: 2px;
  line-height: 22px; 
}

.download-buttons {
  margin-top: 46px; 
}

.first-button {
  margin-right: 26px;
  margin-left: 50px; 
}

.second-button {
  margin-right: 50px; 
}

.button-left {
  background-color: #1abc9c;
  color:#ffffff;
  text-transform: uppercase;
  width: 242px;
  height: 56px;
  text-align: left;
  padding-left: 24px;
  font-size: 16px;
  font-family: "Gotham--bold";
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  cursor: pointer; 
}
  .button-left::after {
    content: "";
    width: 242px;
    height: 56px;
    position: absolute;
    right: -242px;
    top: 0;
    background-color: #16a085;
    z-index: -1;
    transition: 0.4s ease-in-out; 
  }

  .button-left:hover::after {
    right: 0; 
  }

.button-right {
  background-color: #16a085;
  color:#ffffff;
  width: 56px;
  height: 56px; }
  .button-right i {
    font-size: 28px; 
  }
  

/* Footer */
.footer {
  width: 100%; 
}

.footer-container {
  position: relative;
  min-height: 130px;
  padding-top: 46px;
  padding-left: 128px; 
}

.footer-logo {
  position: absolute;
  right: 128px;
  top: 39px; 
}

.footer-list li {
  display: inline-block; 
}
  .footer-list li a {
    font-size: 14px;
    text-decoration: none;
    font-family: "Gotham--bold";
    text-transform: uppercase;
    color: #373737;
    letter-spacing: 2px;
    transition: color 0.5s; }
    .footer__list li a:hover, .footer__list li a:focus {
      color: #16a085; 
    }

.footer-link {
  font-family: "Gotham--bold";
  color: #16a085;
  margin-left: 10px;
  margin-right: 8px; 
}

.footer-paragraph {
  font-size: 15px;
  font-family: "Gotham--bold";
  color: #373737;
  letter-spacing: 2px;
  margin-top: 26px; 
}
  
